<div class="students">
<h1> Student Register </h1>
</div>


<% for student in @students %>
<div class="student_details">
<p>Forename: <%= student.first_name %></p>
<p>Surname: <%= student.second_name %></p>
<p>House: <%= student.house_id  %></p>
<p>Age: <%= student.age  %></p>
</div>

<% end %>